@import "_colors.scss";

body {
  background-color: $davys;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto 4em;
    margin-top: 1.5em;

    #headRow {
      width: 105em;

      #head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $davys;
        background-color: $quickSilver;
      }
    }

    #bodyRow {
      min-height: 800px;
      width: 105em;

      #listBar {
        background-color: $lightGray;
        display: flex;
        flex-direction: column;

        #itemSearcher {
          margin-top: 10px;
        }

        .list-group {
          margin-top: 20px;
          
          .list-group-item {

          }
          .list-group-item.active {
            background-color: $davys;
            border: 3px solid $quickSilver;
          }

        }
      }

      #itemContainer {
        background-color: $dad;
      }
    }
  }
}